*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo h1{
    color: blue;
}
.dyna{
    color:red
}
.main{
    
    display: flex;
    justify-content: space-between;
}
.nav ul li{
    display: flex;
    margin: 2px 5px;
    
    
    
}
li{
    margin: 40;
}

